html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Disable scrolling */
  font-family: 'Bebas Neue', sans-serif;
  background-color: #000; /* Set background to black */
}

.zoom-container {
  position: relative;
  width: 100%; /* Increase width to allow horizontal scrolling */
  height: 100%; /* Increase height to allow vertical scrolling */
  transition: transform 0.3s ease-in-out; /* Smooth zoom transition */
  transform-origin: 0 0; /* Zoom from the top-left corner */
  min-width: 100vw; /* Prevent shrinking smaller than the viewport */
  min-height: 100vh; /* Prevent shrinking smaller than the viewport */
}

.firefox-browser, .chrome-browser .zoom-container {
  width: 102%; /* Prevent shrinking smaller than the viewport */
  height: 102%; /* Prevent shrinking smaller than the viewport */
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}

.firefox-browser .video-background {
  width: 1958px;
  height: 1101px;
}

.chrome-browser .video-background {
  width: 102vw; /* Full viewport width */
  height: auto; /* Allow height to grow */
  min-width: 90vw; /* Always fill the viewport width */
  min-height: 100vh; /* Always fill the viewport height */
}

.download-btn {
  font-size: 30px;
  color: white;
  background-color: transparent; /* Make the button background transparent */
  border: none;
  position: absolute;
  cursor: pointer;
  transition: opacity 0.15s, transform 0.5s ease-in-out;
  text-decoration: none;
  z-index: 10;
  top: 135px;
  left: 650px;
  transform: rotate(7.5deg);
}

.download-btn:hover {
  color: grey;
  opacity: 0.5;
}

.download-btn:active {
  color: red;
  opacity: 0.6;
}

.tip {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
  font-style: normal;
  position: absolute;
  opacity: 80%;
  top: 25px;
  left: 830px;
  z-index: 8;
}

.parallax-text {
  font-size: 33px;
  color: white;
  position: absolute;
  cursor: pointer;
  transition: opacity 0.15s, transform 0.5s ease-in-out;
  text-decoration: none;
}

.parallax-text:hover {
  color: grey;
  opacity: 0.5;
}

.parallax-text:active {
  color: red;
  opacity: 0.6;
}

#Home { top: 150px; left: 1085px; z-index: 5; }
#Projects { top: 150px; left: 1150px; z-index: 6; }
#Contact { top: 150px; left: 1400px; z-index: 8; }
#Videography { top: 150px; left: 1255px; z-index: 7; }

.chrome-browser #Home { top: 150px; left: 1130px; }
.chrome-browser #Projects { top: 150px; left: 1200px; }
.chrome-browser #Videography { top: 150px; left: 1310px; }
.chrome-browser #Contact { top: 150px; left: 1460px; }

.firefox-browser #Home { top: 150px; left: 1135px; }
.firefox-browser #Projects { top: 150px; left: 1210px; }
.firefox-browser #Videography { top: 150px; left: 1320px; }
.firefox-browser #Contact { top: 150px; left: 1470px; }
