html,
      body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 104%;
        overflow: hidden;
        font-family: 'Bebas Neue', sans-serif;
        background-color: #000;
      }

      p {
        font-weight: 400;
        font-style: normal;
        margin-top: 0;
        margin-bottom: 0;
      }

      .video {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .video video {
        width: 102%; /* Set the video width to fill the container */
        height: 102%; /* Set the video height to fill the container */
        object-fit: cover; /* Cover the entire area without distortion */
      }

      .descriptive-text {
        font-size: 27px;
        font-family: "Darker Grotesque", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: white;
        position: absolute;
        top: 1040px;
        left: 750px;
        z-index: 11;
      }

      .chrome-browser .descriptive-text {
        top: 1022px;
      }

      .firefox-browser .descriptive-text {
        top: 997px;
      }

      .logo {
        width: 90px;
        vertical-align: sub;
      }

      .parallax-text {
        font-size: 48px;
        color: white;
        position: absolute;
        cursor: pointer;
        transition: opacity 0.15s;
        text-decoration: none; /* Remove underline from links */
      }

      .parallax-text:hover {
        color: grey;
        opacity: 0.8;
      }

      .parallax-text:active {
        color: red;
        opacity: 0.7;
      }

      #Intro {
        top: 830px;
        left: 690px;
        z-index: 4;
      }

      #AboutMe {
        top: 700px;
        left: 950px;
        z-index: 5;
      }

      #Projects {
        top: 540px;
        left: 720px;
        z-index: 6;
      }

      #Videography {
        top: 2px;
        left: 1200px;
        z-index: 7;
      }

      #Contact {
        top: 560px;
        left: 170px;
        z-index: 8;
      }

      .chrome-browser #Intro {
        top: 825px;
        left: 710px;
      }
      
      .chrome-browser #AboutMe {
        top: 720px;
        left: 980px;
      }
      
      .chrome-browser #Projects {
        top: 530px;
        left: 745px;
      }
      
      .chrome-browser #Videography {
        top: 405px;
        left: 1265px;
      }
      
      .chrome-browser #Contact {
        top: 550px;
        left: 160px;
      }
      
      .firefox-browser #Intro {
        top: 810px;
        left: 710px;
      }
      
      .firefox-browser #AboutMe {
        top: 700px;
        left: 980px;
      }
      
      .firefox-browser #Projects {
        top: 510px;
        left: 745px;
      }
      
      .firefox-browser #Videography {
        top: 390px;
        left: 1265px;
      }
      
      .firefox-browser #Contact {
        top: 530px;
        left: 160px;
      }
